/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 550px) {
  article .content-wrapper {
    padding: 30px 20px 0 20px;
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 550px) {
  article .content-wrapper {
    padding: 30px 20px 0 20px;
    width: 75%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
  article .content-wrapper {
    padding: 30px 20px 0 20px;
    width: 90%;

    .project-img, .project-details {
      vertical-align: middle;
      display: inline-block;
    }

    .project-img {
      margin-right: 30px;
      width: calc(60% - 40px - 30px);
    }

    .project-details {
      width: calc(40% - 40px);
    }
  }
}
