nav {
  background-color: #fc87ab;
}

.nav-wrapper {
  margin: 0 15px;
}

#brand-logo-inner {
  display: flex;
  justify-content: center;

  img {
    max-width: 80px;
    margin-right: 10px;
  }
}

.container {
  margin-top: 8rem;

  > div {
    margin-top: 10rem;
  }
}

#form,
#review,
#products,
#faq,
footer {
  text-align: center;
}


#form {
  .input-field .prefix.active,
  .input-field input:focus + label {
    color: #ffa6c9;
  }

  .input-field input:focus,
  .input-field input.valid {
    border-bottom: 1px solid #ffa6c9;
    box-shadow: 0 1px 0 0 #ffa6c9;
  }

  .subscription {
    align-items: center;
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;

    .input-field {
      margin-right: 10px;
      width: 100%;
    }

    > .btn {
      background-color: #ac151e;
      padding-right: 15px;
      min-width: 120px;

      input {
        color: #fff;
        position: absolute;
        height: 100%;
        left: 0;
        padding-right: 35px;
        width: 100%;
      }
    }
  }
}

.video-container {
  position: relative;
  height: 0;
  margin: 40px auto 0;
  max-width: 1000px;
  overflow: hidden;

  iframe,
  & object,
  & embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.card {
  text-align: left;

  .card-image .btn-floating {
    background-color: #ac151e;
  }

  .card-content {
    color: #fff;
    background-color: #fc87ab;
  }
}

.collapsible {
  text-align: left;
}

footer {
  margin: 8rem 0 1rem;
  font-size: 1.2rem;
  width: 100%;

  .heart {
    color: #ac151e;
  }
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    align-items: center;
    display: inline-flex;
    position: relative;

    #brand-logo-inner {
      margin: 0 auto;
    }
  }
}