body {
  background-image: url('mtn-dew-kickstart.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #ffe0b2;
}

#title, #description {
  text-align: center;
}

#title {
  margin-top: 0;
  font-size: 3rem;
}

#description {
  margin-bottom: 40px;
}

.container {
  background-color: rgba(255, 255, 255, 0.92);
  padding: 15px 30px;
  margin: 40px auto;

  #survey-form {
    max-width: 500px;
    margin: 0 auto;

    .dropdown-wrapper {
      height: 46px;
    }

    .input-list {
      margin-bottom: 20px;

      > div:first-child {
        margin-bottom: 10px;
      }

      > label {
        display: block;
      }
    }

    .additional-comments {
      margin: 20px 0;
    }

    label,
    .input-field > label {
      color: #333;
    }

    .input-field> input::placeholder {
      color: #6d6d6d;
    }

    .dropdown-content li > span,
    .input-field .prefix.active,
    .input-field input:focus + label {
      color: #ef6c00;
    }

    [type="radio"].with-gap:checked + span:before {
      border: 2px solid #ef6c00;
    }

    [type="radio"].with-gap:checked + span:after {
      background-color: #ef6c00;
    }

    .input-field textarea:focus,
    .input-field input:focus,
    .input-field input.valid {
      border-bottom: 1px solid #ef6c00;
      box-shadow: 0 1px 0 0 #ef6c00;
    }

    #submit {
      display: block;
      margin: 0 auto 15px;
    }
  }
}
