body {
  background-color: #cad6e2;
}

.header {
  align-items: center;
  display: flex;
  margin-top: 20px;

  .img-profile {
    margin-right: 1.25rem;
  }
}

.paragraph-credit {
  display: flex;
  justify-content: flex-end;
}

#img-div {
  max-width: 648px;
  margin: 40px auto;
}